@import '../../styles/contants.scss';

.wrapper{
    background:white;
    color: #1a3c8b;;
    .container{
        gap: 2rem;
        @media(max-width:$sm){
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        .left{
            flex: 2rem;

            >*{
                display: block;
            }
            
        }
        .right{
            // flex: 1;
           
            .menu{
                @media(max-width:$sm){
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                display: flex;
               // flex-direction: column;
                gap: 2rem;
                list-style: none;
                li{
                    cursor: pointer;

                    &:hover{
                        color:$secondary;
                    }
                }
            }
        }
    }
}