@import '../../styles/contants.scss';

.wrapper{
    background-image: url(banner.jpg);
    background-repeat: round;
    background-attachment: fixed;

    .container{
     // width: 80%;
      display: flex;

      .post{
        display: flex;
        align-items: center;

        img{
            width: 40%;
            height: 70%;
            border-radius: 5%;
        }
        p{
            color: wheat;
            padding-top: 1rem;
            padding-left: 1rem;
            font-size: 1.7rem;
        }
      }
    }
}